.colorWheelContainer {
    width: 400px;
    height: 400px;
}

.colorWheelPixels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    width: 100%;
    padding-bottom: 0.2em;
}

.colorPixel {
    width: calc(5% - 0.2em);
    height: 1.1em;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    transition: transform 0.1s ease;
}

.colorPixel:hover {
    transform: scale(1.5);
    z-index: 10;
}